<div class="text-center">
    <div *ngIf="useCases && useCases.length > 0">
        <h2>Use Cases for {{useCases[0].industry.name}}</h2>
    </div>
</div>

<!--   | sort: '-createdAt'    -->
<md-card class="example-card align-center" *ngFor="let useCase of useCases | orderBy: 'probability' : 'reverse'">
    <md-card-content>
        <p>{{useCase.tweet}}</p>
        <p>Probability: {{useCase.probability | percent}}</p>
        <ng2-tweet tweetId="{{useCase.tweetId}}"></ng2-tweet>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="details(useCase)">DETAILS</button>
    </md-card-actions>
</md-card>
<br><br>
<div class="align-center">
    <button md-button (click)="goBack()">Back</button>
</div>


