<h3>
    Industry Dashboard
</h3>
<ng2-tweet tweetId="910926223684931585"></ng2-tweet>

<md-grid-list cols="3" rowHeight="100px" class="tile" gutterSize="2em">

    <md-grid-tile

            (click)="onIndustryClick(tile.id )"
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [style.background]="tile.color">
        <a [routerLink]="['/usecases', tile.id]">{{tile.text}}</a>


        <md-grid-tile-header>{{tile.header}}</md-grid-tile-header>
    </md-grid-tile>

</md-grid-list>