<div class="text-center">
    <h2>Use Cases for {{useCase.industry.name}}</h2>
</div>

<md-card class="example-card align-center">
    <md-card-header>
        <md-card-title></md-card-title>
        <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <p>Tweet: {{useCase.tweet}}</p>
        <p>Tweeted By: {{useCase.screenName}}</p>
        <p>Date: {{useCase.createdAt}}</p>
        <p>Website: {{useCase.website}}</p>
        <a href="https://twitter.com/ITAbuzz/status/{{useCase.tweetId}}">Tweet Link</a>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="goBack()">Back</button>
    </md-card-actions>
</md-card>